<section class="animate__animated animate__fadeIn">
	<h2 class="mb-3">Regions</h2>
	<div
		class="btn-group"
		role="group"
		aria-label="Basic radio toggle button group">
		<section *ngFor="let region of regions" class="me-2">
			<input
				type="radio"
				class="btn-check"
				[checked]="currentRegion === region"
				name="btnradio"
				[id]="region"
				autocomplete="off" />
			<label
				class="btn btn-outline-secondary"
				(click)="getCountries(region)"
				[for]="region">
				{{ region | titlecase }}
			</label>
		</section>
	</div>
</section>

<div class="row" *ngIf="countries.length > 0">
	<div class="col">
		<app-table [countries]="countries"></app-table>
	</div>
</div>
